{% import "partials/cart-product.html" as product_cart %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>StageApp</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="/public/images/fav.jpg">
    <link rel="stylesheet" href="/public/css/cart.css">
    <script src="/public/js/cart.js"></script>
    <link rel="stylesheet" href="/public/css/products-modal.css">
    <link rel="stylesheet" href="/public/css/cart/cart-order.css">
</head>
{% include "partials/products-modal.html" %}

<body>
    {% include "static/header.html" %}
    <div class="cart">
        <div class="cart-title">Votre Panier</div>
        <hr>

        <div class="cart-items">
            {% for item in items %}
            {{product_cart::cart_product(item=item,id_order=id_order)}}
            {% endfor %}
        </div>
        <hr>
        {% if items|length >0%}
        <section class="order">
            <div class="total_price"></div>
            <button id="cart-order">Commander</button>
        </section>
        {% else %}
        <h2>Votre panier est vide.</h2>
        <a href="{{routes.products}}">
            <h3>Nos produits commandables !</h3>
        </a>

        {% endif %}
    </div>
    {% include "static/footer.html" %}
</body>

</html>