{% import "partials/product.html" as comp %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>StageApp</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="/public/images/fav.jpg">
    <link href="/public/css/product.css" rel="stylesheet">
    <link href="/public/css/products.css" rel="stylesheet">
    <link href="/public/css/products-modal.css" rel="stylesheet">
    <script src="/public/js/products.js"></script>
</head>

{% include "partials/products-modal.html" %}


<body>
    {% include "static/header.html" %}
    <div class="shop-page">

        <!-- ====== Filtre (colonne gauche) ====== -->
        <aside class="filters">
            <h2 class="filters__title">Catégories</h2>

            <!-- Exemple de groupe principal -->
            <section class="filter-group">
                <label class="filter-group__item">
                    <input type="checkbox"> Viennoiseries
                </label>
                <div class="filter-group__sub">
                    <label class="filter-group__item">
                        <input type="checkbox"> Pain au chocolat
                    </label>
                    <label class="filter-group__item">
                        <input type="checkbox"> Croissant
                    </label>
                    <label class="filter-group__item">
                        <input type="checkbox"> Pain au raisin
                    </label>
                </div>
            </section>

            <!-- Autre groupe -->
            <section class="filter-group">
                <label class="filter-group__item">
                    <input type="checkbox"> Patisseries
                </label>
                <div class="filter-group__sub">
                    <label class="filter-group__item">
                        <input type="checkbox"> Macaron
                    </label>
                    <label class="filter-group__item">
                        <input type="checkbox"> tarte au citron
                    </label>
                    <label class="filter-group__item">
                        <input type="checkbox"> &Eacute;clair
                    </label>
                </div>
            </section>

            <!-- Ajoute autant de groupes > sous-groupes que nécessaire -->
        </aside>

        <!-- ====== Grille de produits (colonne droite) ====== -->
        <main class="products" aria-label="Liste des produits">


            <!-- Exemple : 12 cartes. Ajoute/enlève librement : la grille s'adapte -->
            {% for product in products %}
            {{ comp::product(product=product) }}
            {% endfor %}
        </main>

    </div>
    {% include "static/footer.html" %}
</body>

</html>