{% import "partials/product.html" as comp %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>StageApp</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="/public/images/fav.jpg">
    <link href="/public/css/product.css" rel="stylesheet">
    <link href="/public/css/products.css" rel="stylesheet">
    <link href="/public/css/products-modal.css" rel="stylesheet">
    <link href="/public/css/category/create.css" rel="stylesheet">
    <link href="/public/css/category/edit.css" rel="stylesheet">
    <link href="/public/css/category/admin-btn.css" rel="stylesheet">

    <script src="/public/js/products.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
</head>

{% include "partials/products-modal.html" %}


<body>
    {% include "static/header.html" %}
    <div class="shop-page">
        {% include "partials/products-aside.html" %}

        <main class="products" aria-label="Liste des produits">
            {% if is_admin %}
            <div class="product-card product-card--add" data-action="add">
                <img src="/public/images/add-to.svg" class="add-button-img">
            </div>
            {% endif %}
            {% for product in products %}
            {% if is_admin or product.visible !=0 %}
            {{ comp::product(product=product) }}
            {% endif %}
            {% endfor %}
        </main>

    </div>
    {% include "static/footer.html" %}
</body>

</html>