{% macro product(product) %}
<div class="product-card">
    <img src="{{product.image_url}}" alt="Produit" class="product-card__image">
    <div class="product-card__info">
        <div class="product-card__name">{{product.name}}</div>
        <div class="product-card__price">{{product.price}}</div>
        {% if is_admin %}
        <button class="product-card__button product-card__button--edit" data-action="edit"
            data-id="{{product.id_product}}">Edit</button>
        {% endif %}
        <button class="product-card__button" data-action="shop" data-id="{{product.id_product}}"
            data-name="Nom du produit">Shop</button>
        {% if is_admin %}
        <button class="product-card__button product-card__button--delete" data-action="delete"
            data-id="{{product.id_product}}">Delete</button>
        {% endif %}
    </div>
    <div class="product-card__description">
        {{product.description}}
    </div>
</div>
{% endmacro %}