<aside class="filters">
    <h2 class="filters__title">Catégories</h2>
    {% for category_group in category_groups %}

    {% if category_group.parent.name != "__orphan__" %}
    <section class="filter-group">
        <label class="filter-group__item">
            <input type="checkbox" data-id="{{category_group.parent.id_category}}"> {{category_group.parent.name}}
        </label>
        <div class="filter-group__sub">

            {% for child in category_group.children %}
            <label class="filter-group__item">
                <input type="checkbox" data-id="{{child.id_category}}"> {{child.name}}
            </label>
            {% endfor %}
        </div>
    </section>
    {% else %}
    <div class="orphan-category">
        <div class="filter-group__sub">
            {% for child in category_group.children %}
            <label class="filter-group__item">
                <input type="checkbox" data-id="{{child.id_category}}"> {{child.name}}
            </label>
            {% endfor %}
    </div>
    {% endif %}
    {% endfor %}
</aside>